@import '../../../styles//sass//variables';

/* div {
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    width: 90vw;
    border-radius: 5px;
    background-color: pink;

    h5 {
        background-color: rgb(185, 179, 179);
        border-radius: 10px;
        padding: 10px;


    }
}

.title {
    color: blueviolet;
    font-size: 3rem;
    &:hover{
        cursor: pointer;
        color:aqua;
    }
    p{
        color: $color-primario;
    }
}

.margin {
    margin-top: 100px;
}

#pepe {
    font-style: italic;
} */