@import '../../../styles//sass//variables';

@keyframes rotateAndScale {
    0% {
      transform: rotateX(0deg) scale(1);
    }
    50% {
      transform: rotateX(180deg) scale(1.2);
    }
    100% {
      transform: rotateX(360deg) scale(1);
    }
  }

  .textLogo{
    animation: rotateAndScale 4s  linear;
    font-weight: 600 !important;
  }
  .linksStyles{
    text-decoration: none;
    margin-right: 14px !important;
    color: black;
  }
  .linksStyles:hover{
    color: #93b2ca;
    font-weight: 500;
  }
/*   .linksStyles:active{
    font-weight: 500;
  } */
  .navbarBackColor{
    background-color: #cfd4d8 !important;
  }

