$color-primario: var(--color-primario);
$tamanio-fuente: var(--tamanio-fuente);
$text-color-title: var(--text-color-title);
$border-color-title:var(--border-color-title);
$fontsize-title:var(--fontsize-title);


